@page
@model WebApp.Pages.Categories.Index

@{
    ViewData["Title"] = "Categories List";
}

<div class="section-header">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                @* <h4>Basic DataTables</h4> *@
                <a asp-page="/Categories/Create" class="btn btn-icon icon-left btn-success"><i class="fas fa-plus"></i> Create New</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="table-1">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Category Name</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var outputDto in Model.OutputDtos)
                        {
                            <tr>
                                <td>@outputDto.Id</td>
                                <td>@outputDto.Name</td>
                                <td>
                                    <a asp-page="/Categories/Edit" asp-route-id="@outputDto.Id" class="btn btn-icon icon-left btn-primary"><i class="fas fa-edit"></i> Edit</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>