<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Expensa - @ViewData["Title"]</title>

    <partial name="_CssPartial"/>
</head>
<body>
<div id="app">
    <div class="main-wrapper">
        
        <div class="navbar-bg"></div>
        
        <nav class="navbar navbar-expand-lg main-navbar">
            <partial name="_NavBarPartial"/>
        </nav>
        
        <div class="main-sidebar">
            <partial name="_SideBarPartial"/>
        </div>

        <div class="main-content">
            <section class="section">
                @RenderBody()
            </section>
        </div>
        
        <footer class="main-footer">
            <partial name="_FooterPartial"/>
        </footer>
        
    </div>
</div>

<partial name="_JavascriptPartial"/>

@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
@* <script src="~/js/site.js" asp-append-version="true"></script> *@

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>